/vendor
/node_modules
/wa-service/node_modules
/.git
/.env
/.env.*
!/public/build
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/framework/testing/.gitignore
/database/database.sqlite
/tests
/Dockerfile*
/docker-compose*
