/vendor/
/node_modules/
/public/build/

/.env
/.env.*.local

/storage/app/*/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/*.log
/coverage/

/bootstrap/cache/*.php
/bootstrap/cache/*.php.serialized

/wa-service/node_modules/
/wa-service/sessions/

.DS_Store
.idea/
.vscode/
*.log
npm-debug.log*
dump.rdb
database.sqlite
